body{
    font: size 90px;
    font-weight: 700;
    background:rgb(1, 65, 95);
    color:white;
    padding: 10%;
}
.keyboard{ 
    height:auto;
    background:rgb(195, 231, 249);
    padding:30px 30px;
    border-radius:10px;
    width:fit-content;
    
}
.keyrow{
    display:flex;
    margin: 9px auto 9px;
}
.key{
    background:rgb(50, 62, 84);
    margin:0 6px 0 0; 
    text-align:center;
    padding:20px 20px;
    border-radius:4px;
}
.one{ 
    flex:1; 
}  
.one-one-half{ 
    flex:1.5; 
}  
.two{ 
    flex:2; 
}  
.two-two-half{ 
    flex:2.5; 
} 
.three{ 
    flex:3; 
}   
.five{ 
    flex:5; 
}
  
.half{ 
    flex:.5;
}
.two{ 
    flex:2;
    padding:20px 10px; 
} 
  
  